<h2>Admin Dashboard</h2>
<a href="@Url.Action("AddTrain", "Admin")">Add New Train</a>
<table border="1">
    <tr>
        <th>Train ID</th>
        <th>Train Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Fare</th>
        <th>Seats</th>
        <th>Actions</th>
    </tr>
    @foreach (var train in Model)
    {
        <tr>
            <td>@train.TrainID</td>
            <td>@train.TrainName</td>
            <td>@train.Source</td>
            <td>@train.Destination</td>
            <td>@train.DepartureTime</td>
            <td>@train.ArrivalTime</td>
            <td>@train.Fare</td>
            <td>@train.SeatsAvailable</td>
            <td>
                <a href="@Url.Action("EditTrain", "Admin", new { id = train.TrainID })">Edit</a> |
                <a href="@Url.Action("DeleteTrain", "Admin", new { id = train.TrainID })">Delete</a>
                <a href="@Url.Action("Logout", "Account")">Logout</a>

            </td>
        </tr>
    }
</table>
